


/*title*/
.title{
	margin-top: 40px;
}

.title h2{
	font-size: 30px;
}




/*table*/
.tab-cont{
	margin-top: 20px;
}

.table{
	font-size: 20px;
}

.tab-title{
	font-size: 25px;
}


/*tambah siswa*/

.tmbh-siswa{
	margin-top: 20px;
}

.tmbh-siswa a{
	text-decoration: none;
	font-size: 22px;
}